<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>기업별 합격예측</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
</head>

<body>
    <div class="container">
        <div class="title">기업별 합격예측</div>
        <table id="example" class="table table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>회사명</th>
                    <th>스펙점수</th>
                </tr>
            </thead>
            <tbody>

                <% for(var i = 0; i < result.length; i++) { %>
                <tr onclick="location.href='<%= result[i].link %>'">
                    <td><%= result[i].company %></td>
                    <td><%= result[i].spec_score %></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</body>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });</script>
<style>
    @font-face {
        font-family: 'Eoe_Zno_B';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/Eoe_Zno_B.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    .container {
        max-width: 800px;
        padding-top: 50px;
        font-family: 'Eoe_Zno_B' !important;
    }

    .title {
        font-size: 36px !important;
        font-weight: 600;
        margin-bottom: 20px;
    }

    tr {
        cursor: pointer;
        font-size: 17px;
        font-weight: 600;
    }

    tr:hover {
        background: rgb(221, 221, 221) !important;
    }
</style>

</html>